public/xml/users.dtd

<?xml version="1.0" encoding="UTF-8"?>


  <!ELEMENT users (user+)>
  <!ELEMENT user (userID, username, email, phoneno, address, avatar, created_at, updated_at)>
  <!ELEMENT userID (#PCDATA)>
  <!ELEMENT username (#PCDATA)>
  <!ELEMENT email (#PCDATA)>
  <!ELEMENT phoneno (#PCDATA)>
  <!ELEMENT address (#PCDATA)>
  <!ELEMENT avatar (#PCDATA)>
  <!ELEMENT created_at (#PCDATA)>
  <!ELEMENT updated_at (#PCDATA)>





